---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A brief overveiw about A Cordial Cafe"
	pubDate={new Date('June 13 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Hiya!,

		I'm Qad, and I've been a fiction—and fan fiction—writer for over a decade. I first got my start
		on Mibba, and things just took off from there, haha. Since then, I’ve been part of many online fiction 
		communities—some more embarrassing than others—but storytelling has always been a deep passion of mine.
	</p>
	<p>
		That love for writing eventually led to the creation of A Cordial Cafe.
	</p>

	<p>
		A Cordial Cafe is a Christian fiction site for readers who still want to enjoy their favorite tropes while
		honoring God. Whether it’s through analogies, full-length novels, or short stories, A Cordial Cafe aims to 
		encourage and inspire readers—showing that you don’t have to compromise your values to enjoy great storytelling.
	</p>

</Layout>
